.website-clicks-container {
    width: 92%;
    margin: auto;
    text-align: center;
    background: #fff;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .website-clicks-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0px;
  }
  
  .website-clicks-total {
    font-size: 36px;
    display: flex;
    font-weight: bold;
    color: #1f3b5a;
    margin-top: 0px;
  }
  .time-filter{
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(197, 196, 196);
  }
  .bar-chart-container {
    margin-top: 20px;
  }
  